<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import MainView from './views/MainView.vue';
import LoginView from './views/LoginView.vue';
import { onMounted } from 'vue';
import { useLoginStore } from '@/stores/login'
const loginStore = useLoginStore();

onMounted(() => {
  console.log("On mouted")
  loginStore.loadData();
});
</script>

<template>
  <LoginView v-if="!loginStore.isLogin"/>
  <MainView v-if="loginStore.isLogin" @logout="loginStore.logout" :loginName="loginStore.loginName"/>
</template>

<style scoped>

</style>
